<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ site.name }}</title>
        <link>{{ site.url }}</link>
        <language>fr-FR</language>
        <description>{{ site.description }}</description>
        <ttl>{{ ttl }}</ttl>
        <lastBuildDate>{{ 'now' | date('Y-m-d H:i:s') }}</lastBuildDate>

        {% for article in articles %}
            {% set url = url('article_view', {'slug': article.slug}) %}
            <item>
                <title>{{ article.title }}</title>
                <link>{{ url }}</link>
                <description>{{ article.description }}</description>
                <language>fr-FR</language>
                <pubDate>{{ article.publicationDate | date('Y-m-d H:i:s') }}</pubDate>
                <guid isPermaLink="true">{{ url }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
