<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">

    <link rel="dns-prefetch" href="https://images.ctfassets.net">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}

    <link rel="alternate" type="application/rss+xml" href="{{ url('rss_feed') }}" title="{{ site.name }} - RSS Feed">
    <link rel="canonical" href="{{ app.request.uri }}" />

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/icons/icon-72x72.png">

    <meta name="google-adsense-account" content="ca-pub-6174295835667116">
</head>
<body class="dark:bg-zinc-800 dark:text-zinc-100 container mx-auto max-w-7xl">
{% block body %}{% endblock %}
</body>
</html>
